<hr class="lines">
<hr class="lines">

<div class="all_contact_info">
  <div class="pic_and_contact">
    <img class="my_pic contact_info" src="https://media.licdn.com/media/p/8/005/07c/1f0/0f74b4b.jpg">

    <h3 class="contact_info">Webpage Created By: Luke Evans</h3>
    <h3 class="contact_info">Contact: luevans248@gmail.com</h3>
  </div>

  <div id="comment_section">
    <p class="feedback">Please submit feedback below:</p>

    <%= form_tag '/ride_details', method: :post do %>
      <div>
      <p><%= label_tag :contact_info, "Contact Info:", :class=>"contact_comment_label" %></p>
      <p><%= text_field_tag :comment, '',  :class=>"contact_comment_section" %></p>
      </div>
      <div>
      <%= label_tag :comment, "Comment:", :class=>"comment_label" %>
      <%= text_area_tag :comment, '',  :class=>"comment_section" %>
      </div>
      <%= submit_tag "Submit Feedback!", :class =>"submit_comment" %>
    <% end %>
  </div>
</div>


