<!DOCTYPE html>
<html>
<head>
  <title>Ride4LessApp</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a class="link_titles" href="/">
                        Ride 4 Less
                    </a>
                </li>
                <% if current_user %>
                    <li class="uber_link"><%= link_to "Sign Out", sign_out_path %></a></li>
                    <li><a href="/uber_histories">Profile Info</a></li>
                <% else %>    
                    <li class="uber_link"><a href="/auth/uber">Sign In With Uber</a></li>
                <% end %>    
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="/ride_details/contact">Contact</a>
                </li>
                <li>
                    <a href="/ride_details/privac#">Privacy Policy</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                        <img class="logo" src="<%= asset_path( 'Ride_clipped_rev_1.png' ) %>">
                        <%= yield %>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
        <div id="footer" class="container">
            <footer>
                <p>Webpage created by Luke Evans, luevans248@gmail.com</p>
            </footer>
        </div>
    </div>
    <!-- /#wrapper -->


    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>


</body>

</html>
