<!DOCTYPE html>
<html>
<head>
  <title>Ride4LessApp</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a class="link_titles" href="/">
                        Ride 4 Less<img id="toolbar_image" src="<%= asset_path( 'bus_720.png' ) %>">
                    </a>
                </li>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Personalized Uber Ride Analytics
                            </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <% if current_user %>
                                    <div class="profile_link_styling">
                                        <p><a class="profile_links top_profile_link"><%= link_to "Sign Out", sign_out_path %></a></p>
                                        <p class="profile_links"><a href="/uber_histories">User Profile</a></p>
                                        <p class="profile_links"><a href="/uber_histories/uber_data?linkClicked=cities_visited">Cities I've Visited With Uber</a></p>
                                        <p class="profile_links bottom_profile_link"><a href="/uber_histories/uber_data?linkClicked=time_trends">Uber Usage Time Trends</a></p>
                                    </div>
                                <% else %>    
                                    <p class="profile_links bottom_profile_link"><a href="/auth/uber">Sign In With Uber</a></p>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                SF New Years Eve Data
                            </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <p>
                                    <a href="/new_years_data?linkClicked=surge_vs_time_of_day">NYE: Surge Time Series Plots</a>
                                </p>
                                <p>
                                    <a href="/new_years_data?linkClicked=wait_time_vs_time_of_day">NYE: Wait-Time Time Series Plot</a>
                                </p>
                                <p>
                                    <a href="/new_years_data?linkClicked=surge_vs_wait_time">NYE: Surge vs. Wait Time</a>
                                </p>
                            </div>
                        </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Uber Around The World
                            </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                TEST TEST TEST TEST
                            </div>
                        </div>
                    </div>
                </div>    
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div class="content_wrapper">
            <div id="page-content-wrapper content">
                <div class="container-fluid main">
                    <div class="row">
                        <div class="col-lg-12">
                            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                            <img class="logo" src="<%= asset_path( 'Ride_clipped_rev_1.png' ) %>">
                            <div class="flash">
                                <% flash.each do |key, value| %>
                                  <div class="alert alert-<%= key %> alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                    <%= value %>
                                  </div>  
                                <% end %>
                            </div>
                            <%= yield %>
                            <div class="push"></div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
        <div id="footer">
            <footer>    
                <p>Webpage created by Luke Evans, luevans248@gmail.com</p>
            </footer>
        </div>
    <!-- /#wrapper -->

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    $(document).ready(function () {
        //when a group is shown, save it as the active accordion group
        $("#accordion").on('shown.bs.collapse', function () {
            var active = $("#accordion .in").attr('id');
            $.cookie('activeAccordionGroup', active);
          //  alert(active);
        });
        $("#accordion").on('hidden.bs.collapse', function () {
            $.removeCookie('activeAccordionGroup');
        });
        var last = $.cookie('activeAccordionGroup');
        if (last != null) {
            //remove default collapse settings
            $("#accordion .panel-collapse").removeClass('in');
            //show the account_last visible group
            $("#" + last).addClass("in");
        }
    });

    </script>


</body>

</html>
